@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #e53939;
  --color-text: #ffffff;
  --color-background: #000000;
}

html,
body {
    @apply bg-background text-text w-screen h-screen overflow-x-hidden
}


.hiden { 
  @apply opacity-0 blur-lg transition-all duration-1000 -translate-x-full
}

.show {
  @apply opacity-100 blur-0 transition-all duration-1000 translate-x-0
}

